.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.table-header {
  display: flex;
  background-color: #f0f0f0;
  font-weight: bold;
}

.table-row {
  display: flex;
  border-top: 1px solid #ccc;
}

.column {
  flex: 1;
  padding: 8px;
  text-align: center;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .form-group {
      display: flex;
      flex-direction: column;
      padding: 2px;
      margin: 10px;
      width: 150px;

      label {
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
      }
    }

    .container-btn {
      width: 100%;
      justify-content: end;
      display: flex;
      margin-right: 65px;
      margin-bottom: 14px;

      .btn-form {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }

    }
  }
}

.container-search {
  width: 100%;  
  padding-bottom: 12px;
  display: flex;
  gap: 10px;

  form {
    display: flex;
    gap: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
}

.container-list {
  width: 100%;
}