<div class="container">

  <h1>Lista de clientes Thony Electric</h1>

  <div class="container-form">
    <h2>Carga de clientes</h2>

    <form [formGroup]="fromList" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" formControlName="nombre">
      </div>
      <div class="form-group">
        <label for="">Apellido</label>
        <input type="text" formControlName="apellido">
      </div>
      <div class="form-group">
        <label for="">Documento</label>
        <input type="text" formControlName="dni">
      </div>
      <div class="form-group">
        <label for="">Tipo de Domicilio</label>
        <input type="text" formControlName="tipoDomicilio">
      </div>
      <div class="form-group">
        <label for="">Consumo KW</label>
        <input type="text" formControlName="consumo">
      </div>
      <div class="form-group">
        <label for="">Deuda</label>
        <input type="text" formControlName="deuda">
      </div>

      <div class="container-btn">
        <button class="btn-form" type="submit" [disabled]="fromList.invalid"> Agregar </button>
      </div>
    </form>
  </div>

  <div class="container-search">
    <form [formGroup]="formSearch" (ngSubmit)="search()">
      <div class="form-group">
        <input type="text" placeholder="Buscar cliente" formControlName="buscarControls">
      </div>
      <button class="btn" type="submit" [disabled]="formSearch.invalid"> Buscar </button>
    </form>
    
    <label for="">Ordenar</label>
    <input type="checkbox" [(ngModel)]="checkOrdenAlfabetico" (change)="onCheckboxChange()">
    
    <label for="">Deudores</label>
    <input type="checkbox" [(ngModel)]="checkDeudores" (change)="onCheckboxChangeDeudores()">
    
    <button class="btn" (click)="resetList()"> Limpiar </button>

  </div>

  <div class="container-list">
    <div class="table-header">
      <div class="column">Nombre</div>
      <div class="column">Apellido</div>
      <div class="column">DNI</div>
      <div class="column">Tipo de Domicilio</div>
      <div class="column">Consumo</div>
      <div class="column">Deuda</div>
      <div class="column">Descuento</div>
      <div class="column">Monto a Pagar</div>
      <div class="column">Accion</div>
    </div>
    <div class="table-row" *ngFor="let cliente of listaProcesada">
      <div class="column">{{cliente.nombre}}</div>
      <div class="column">{{cliente.apellido}}</div>
      <div class="column">{{cliente.dni}}</div>
      <div class="column">{{cliente.tipoDomicilio}}</div>
      <div class="column">{{cliente.consumo}}$</div>
      <div class="column">{{cliente.deuda}}</div>
      <div class="column">{{cliente.descuento}}</div>
      <div class="column">{{cliente.montoAPagar}}</div>
      <div class="column"> <button (click)="deleteItem(cliente.dni)">delete</button> </div>
    </div>
  </div>

</div>